#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE       &kp Q         &kp W         &kp E        &kp R        &kp T  &kp Y     &kp I           &kp O      &kp P
&kp TAB         &kp A         &kp S         &kp D        &kp F        &kp G  &kp H     &kp J           &kp K      &kp L
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C        &kp V        &kp B  &kp N     &kp M           &kp UP
&kp LCTRL       &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 SPACE  &lt 2 SPACE         &kp LEFT  &kp DOWN_ARROW  &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none         &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none         &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none         &none  &none  &none
            >;
        };
    };
};
